<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="com.darkmist.listeners.Listener"/>
    </listeners>
    <test name="OrangeHRM_Test">
        <classes>
            <class name="com.darkmist.tests.LoginPageTest"/>
        </classes>
    </test>
</suite>